# Fichiers système Windows
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
NTUSER.DAT{*}

# Dossiers personnels Windows (souvent non pertinents pour Git)
Desktop/
Documents/
Favorites/
Links/
Pictures/
Searches/
Videos/

# Dossiers cachés personnels / config
.aurora-slim/
.ssh/
.htpasswd/
.lesshst/
.python_history
.bash_history
.gitconfig

# Autres fichiers/dossiers temporaires ou système
cookies.txt
cd
jenkins-/
jenkins-training/
test-vagrant/
alpinehelloworld/

# Logs
*.log
logs/
